<launch>

    <node 
		pkg="turtlebot" 
		type="Prescan.py" 
		name="Prescan"
        output = "screen">
    </node>
    <node 
        pkg="turtlebot" 
        type="lanekeeper.py" 
        name="lanekeeper"
        output = "screen">
    </node>

    <node
		pkg = "turtlesim"
		type = "turtle_teleop_key"
		name = "teleop_key"
		required = "true"
        output = "screen"
	/>
</launch>
